button {
    background: rgb(50, 46, 46);
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    color: white; /* Text color */
    padding: 5px 20px; /* Top/bottom and left/right padding */
    margin: 5px; /* Space between buttons */
    font-size: 16px; /* Text size */
    font-weight: bold; 
    text-transform: uppercase; 
    cursor: pointer; 
    transition: background-color 0.3s, box-shadow 0.3s; 
}


.positive { color: green;
    font-size: 50px;
    padding-left: 20px;
    font-size: 20px; 
 }
.negative { color: red;
    padding-left: 20px;
    font-size: 30px; 
    }





